<div class="text-center">
  <img class="img-fluid" src="" alt="">
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código - Vin</th>
        <th scope="col">Odômetro</th>
        <th scope="col">Nível de Combustivel</th>
        <th scope="col">Status</th>
        <th scope="col">Lat.</th>
        <th scope="col">Long.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <ng-template>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
        </ng-template>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
  </table>
</div>
