<div class="container">
  <table class="table">
    <thead class="bg-primary">
      <tr>
        <th scope="col">Código - Vin</th>
        <th scope="col">Odômetro</th>
        <th scope="col">Nível de Combustivel</th>
        <th scope="col">Status</th>
        <th scope="col">Lat.</th>
        <th scope="col">Long.</th>
      </tr>
    </thead>
    <tbody *ngIf="vehiclesData$ | async as vehiclesData">
      <tr>
    	  <td><input type="text" name="search" placeholder="2FRHDUYS2Y63NHD22454" [formControl]="vehiclesDataInput"></td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.odometer}} Km</td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.fuelLevel}} %</td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.status}}</td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.lat}}</td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.long}}</td>
     </tr>
    </tbody>
  </table>
</div>
