<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código - Vin</th>
        <th scope="col">Odômetro</th>
        <th scope="col">Nível de Combustivel</th>
        <th scope="col">Status</th>
        <th scope="col">Lat.</th>
        <th scope="col">Long.</th>
      </tr>
    </thead>
    <tbody *ngIf="vehiclesData$ | async as vehiclesData">
      <tr>
        <th></th>
    	  <td><input type="text" name="search" value="2FRHDUYS2Y63NHD22654" [formControl]="vehiclesDataInput"></td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.odometer}}</td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.fuelLevel}}</td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.status}}</td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.lat}}</td>
        <td *ngFor="let vehicleData of vehiclesData">{{vehicleData.long}}</td>
     </tr>
    </tbody>
  </table>
</div>
