<nav class="navbar bg-light d-flex flex-nowrap">
  <div class="container d-flex flex-nowrap">
    <i class="fa fa-bars m-4" (click)="menu.openMenu()" (keyup.space)="menu.openMenu()"></i>
    <a class="navbar-brand" href="#">
      <img id="ford" src="assets/img/ford.png" alt="" width="7%" height="7%">
    </a>
  </div>
  <app-menu #menu>
    <ul class="list-unstyled">
      <li>
        <a class="text-decoration-none" [routerLink]="['userpage']">Página do Usuário</a>
      </li>
      <li>
        <a class="text-decoration-none" [routerLink]="['dashboard']">Dashboard</a>
      </li>
    </ul>
  </app-menu>
  <div *ngIf="user$ | async as user">
    <div class="fs-5 p-4 d-flex flex-nowrap align-items-center" *ngIf="user.name; else login">
      <i class="fa fa-user-circle text-primary"></i>
      <span class="text-decoration-none m-2 text-primary">{{user.name}}</span>
      <a class="text-decoration-none m-1" (click)="logout()">
        <button type="button" class="btn btn-primary btn-sm">Logout</button>
      </a>
    </div>
  </div>
</nav>
<ng-template #login>
  <span class="fs-5  p-4">
    <i class="fa fa-user-circle text-primary"></i>
    <a class="text-decoration-none text-primary m-2" [routerLink]="['']">Login</a>
  </span>
</ng-template>
