<h1 class="text-center .text-primary">Dashboard FORD</h1>

<div class="container">
  <div class="row">
    <div class="card text-bg-light mb-3 col" style="width: 19em;">
      <div class="card-header title">Veículo</div>
      <div class="card-body">
        <select>
          <option> -- Select --</option>
          <option></option>
        </select>
      </div>
    </div>
    <div class="card text-bg-light mb-3 col" style="width: 19em;">
      <div class="card-header title">Total de Vendas</div>
      <div class="card-body">
        <span id="totalVendas">
        </span>
        <p>Unid.</p>
      </div>
    </div>
    <div class="card text-bg-light mb-3 col" style="width: 19em;">
      <div class="card-header title">Conectados</div>
      <div class="card-body">
        <span id="connected">
        </span>
        <p>Unid.</p>
      </div>
    </div>
    <div class="card text-bg-light mb-3 col" style="width: 19em;">
      <div class="card-header title">Update Software</div>
      <div class="card-body">
        <span id="updateSoftware">
        </span>
        <p>Unid.</p>
      </div>
    </div>
  </div>
</div>
