<div class="container">
  <div class="row">
    <div class="card text-bg-light mb-3 col" style="width: 19em;">
      <div class="card-header title">Veículo</div>
      <div class="card-body">
        <select>
          <option> -- Select --</option>
          <option [value]="vehicle.id" *ngFor="let vehicle of vehicleList">{{vehicle.vehicle}}</option>
        </select>
      </div>
    </div>
    <div class="card text-bg-light mb-3 col" style="width: 19em;">
      <div class="card-header title">Total de Vendas</div>
      <div class="card-body">
        <span></span>
        <p>Unid.</p>
      </div>
    </div>
    <div class="card text-bg-light mb-3 col" style="width: 19em;">
      <div class="card-header title">Conectados</div>
      <div class="card-body">
        <p>Unid.</p>
      </div>
    </div>
    <div class="card text-bg-light mb-3 col" style="width: 19em;">
      <div class="card-header title">Update Software</div>
      <div class="card-body">
        <p>Unid.</p>
      </div>
    </div>
  </div>
</div>
