<div class="container-fluid bg-color m-auto p-5">
  <h4 class="text-center text-primary my-3">Novo Cadastro</h4>
  <form class="form mt-4">
    <div class="form-group input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Login</span>
      <input
        type="text"
        class="form-control"
        placeholder="Escolha um nome de usuário"
      />
    </div>
    <div class="form-group input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Nome</span>
      <input type="text" class="form-control" placeholder="Seu nome completo" />
    </div>
    <div class="form-group input-group mb-3">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input
        type="email"
        class="form-control"
        placeholder="Insira um e-mail válido"
      />
    </div>
    <div class="form-group input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Senha</span>
      <input
        type="password"
        class="form-control"
        placeholder="Escolha sua senha"
      />
    </div>
    <button class="form-control btn btn-primary btn-block">Cadastrar</button>
  </form>
  <p>
    Já possui usuário?
    <a class="text-decoration-none" [routerLink]="['']">Faça o Login.</a>
  </p>
</div>
